


/* below is the style for home page */

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 25px;
  font-family: monospace;
  justify-content: space-between;
} 

.logo a {
  text-decoration: none;
  font-size: 50px;
  color: black;
  margin: 20px 20px 5px 20px;
}

li {
  list-style: none;
  float: left;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-right: 80px;
}

.home-image>img {
  width: 380px;
  margin: 0px 5px
}


/* entering style for about page */

.about-page>h2 {
  color: black;
  padding: 10px;
  border-bottom: 2px solid black;
  width: 300px;
  font-size: 25px;
  }

.about-intro {
  text-align: center;
  font-size: 30px;
  font-family: cursive;
display: inline-block;
margin: 0px 20px 20px 20px;
}

.about-image{
  width:200px
}

.about-blocks {
  color:rgb(61, 58, 58);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(180, 178, 178, 0.539);
  display: inline-block;
  margin: 10px;
  border-radius: 10px;
}

.about-blocks>h3 {
  margin: 20px;
}


/* entering style of portfolio */

.portfolio-header {
  border-bottom: 2px solid black;
  width: 300px;
  margin-bottom: 50px;
  padding-left: 10px;
  font-size: 15px;
}

.portfolio-blocks {
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  text-wrap: wrap;
  float: inline-end;
  display: block;
  background-color: rgba(133, 128, 128, 0.552);
}

.portfolio-blocks>img {
  width: 200px;
  float: right;
}
