


/* below is the style for home page */

.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 25px;
  font-family: monospace;
  justify-content: space-between;

} 

.logo a {
  text-decoration: none;
  font-size: 50px;
  color: black;
  margin: 20px 20px 5px 20px;
}

.logo:hover {

  font-weight: lighter;
}

li {
  list-style: none;
  float: left;
}

li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-right: 80px;
}

li a:hover {
  font-weight: bolder;
}

.home-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  }

.image01 {
  flex: 1;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
  margin-right: 10px;
}

.image02 {
  flex: 1;
  height: 500px;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;

}

.image03 {
  flex: 1;
  height: 500px;
  object-fit: cover;
  object-position: bottom;
}


/* entering style for about page */

.about-heading {
  color: black;
  border-bottom: 2px solid black;
  width: 300px;
  font-size: 15px;
  padding-left: 10px;
  padding-bottom: 0;
  }

.about-page {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.about-blocks {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}
.about-blocks>h3 {
  color:rgb(61, 58, 58);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(180, 178, 178, 0.539);
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width:150px;
}

.about-intro {
  background-color: rgb(237, 234, 241);
  color: rgb(99, 90, 90);
  border-radius: 20px;
  font-size: 30px;
  font-family: cursive;
  padding:10px;
  border: 1px solid rgb(178, 173, 173);
  flex: 200px;
}

.about-image{
  width:200px;
  border-radius:10px;
  justify-self: center;

}

.about-blocks>h3:hover {
  color: rgb(245, 239, 239);
}

.extra-space {
  flex:1;
}

/* entering style of portfolio */

.portfolio-header {
  border-bottom: 2px solid black;
  width: 300px;
  margin-bottom: 50px;
  padding-left: 10px;
  font-size: 15px;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
}
.portfolio-blocks {
  flex: 1;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  background-color: rgba(133, 128, 128, 0.552);
}

.portfolio-blocks>img {
  width: 20%;
  float: right;
}

.portfolio-blocks>img:hover {
  margin: 20px;
}

/* css for the form page */

.contact-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-heading {
  display: flex;
  flex-direction: column;
}

.form {
  background-color: rgba(194, 185, 185, 0.626);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-radius: 30px;

}

.form-name {
  flex: 1;
  margin: 15px;

}

.form-email {
  flex: 1;
  margin: 15px;

}

.form-message {
  flex: 1;
  margin: 15px;
 
}

.submit-button {
  border-radius: 5px;
  margin:10px;
  padding: 5px 8px;

}

.success-paragraph {
  font-weight: bolder;
  font-size: 3rem;
}